:root {
	/* Primary Colors */
	--accent: var(--slate-accent, 3, 102, 214);
	--link-colour: var(--slate-link-colour, 48, 144, 255);

	/* Server List */
	--server-icon-size: var(--slate-server-icon-size, 35px);
	--server-icon-spacing: var(--slate-server-icon-spacing, 8px);
	--server-container-padding: var(--slate-server-container-padding, 10px);
}
